body{
    background-attachment: fixed;
    background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}
.myh1{
    color: white;
    text-shadow: 7px 7px 10px orchid;
    font-size: 37px;
    text-align: center;
    padding-top: 10px;
}
.myFunction { 
    color : #f8bc3b;
    height : 300px;
    width : 540px;
    border-radius: 9px;
    border: 4px solid black;
    background-color: rgb(94, 82, 82);
    line-height: 80px;
    text-align: center;
    
}
.myClass { 
    color : orange;
    height : 300px;
    width : 540px;
    border-radius: 9px;
    border: 4px solid black;
    background-color: rgb(94, 82, 82);
    line-height: 80px;
    text-align: center;
}
.mytag { 
    color: lawngreen;
}
.mybtn{
    display: flex;
    height:  100px;
    width:  100%;
    justify-content: space-around;
    margin-top: 100px;
}
.leftbtn{
    height: 76px;
    width: 30%;
    border-radius: 10px;
    background-color: palegreen;
    border: 2px solid #3c7ca7;
    color: blue;
    font-weight: 700;

}
.leftbtn:hover {
    
    background-color: #e710b9;
    color: #d8e0e5;
}
.rightbtn{
    height: 76px;
    width: 30%;
    border-radius: 10px;
    background-color: palegreen;
    border: 2px solid #3c7ca7;
    color: blue;
    font-weight: 700;
    
}

.rightbtn:hover {
    
    background-color: #e710b9;
    color: #d8e0e5;
}

.flex--box {
    display: flex;
    height: 600px;
    width : 100%;
    justify-content: space-around;
    margin-top : 210px;
}